<odoo>
	<data noupdate='0'>
		<menuitem id="root_menu"  name="Logging" />
		<record id='logging_action' model='ir.actions.act_window'>
			<field name='name'>Logs</field>
			<field name='res_model'>logging.data</field>
			<field name='view_mode'>tree,form</field>
			<field name="help">
				<![CDATA[<p> Nothing found!</p>]]>
			</field>
		</record>
		<menuitem parent="root_menu" id="menu_logging" action="logging_action"/>
	</data>
</odoo>